h3{
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: #494949;
}

.footer-small {
    position: relative;
    bottom: 0;
    box-shadow: 0px -2px 3px 0px #4949492f;
}

.footer-large {
    position: fixed;
    bottom: 0;
    box-shadow: 0px -2px 3px 0px #4949492f;
}

.header{
    box-shadow: 0px 2px 3px 0px #4949492f;
}

.gridxx{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
}

.gridxx > * {
    width: 20%;
    flex: 0 0 auto;
    margin: 2%;
}
