<mat-card [ngClass]="isAvailable()" (click)="redirect()">
  <img [src]="'https://goo.gl/uVkkWs'" [alt]="item.name" mat-card-image>
  <mat-card-content>
    <span>{{item.feeds.length}} in stock</span>
    <div *ngIf="item.feeds.length > 0">
      <span>{{item.feeds[0].salePrice | currency}}</span>
      <span fxFlex></span>
      <span class="strike">{{item.feeds[0].price | currency}}</span>
    </div>
    <p>{{item.name}}</p>
    <div>
      <span fxFlex></span>
      <span>{{count === 0 ? 'No' : count}} store{{count > 1 ? 's' : ''}}</span>
    </div>
  </mat-card-content>
</mat-card>