<mat-card [ngClass]="isAvailable()" (click)="redirect()">
  <div class="image-holder">
      <img [src]="item.imageUrl || 'https://goo.gl/uVkkWs'" [alt]="item.name">
  </div>
  <mat-card-content>
    <span>{{getQuantity()}} in stock</span>
    <div *ngIf="item.feeds.length > 0">
      <span>{{salePriceAndPriceInStore().salePrice | currency}}</span>
      <span fxFlex></span>
      <span class="strike">{{salePriceAndPriceInStore().price | currency}}</span>
    </div>
    <p>{{item.name}}</p>
    <div>
      <span fxFlex></span>
      <span>{{count === 0 ? 'No' : count}} store{{count > 1 ? 's' : ''}}</span>
    </div>
  </mat-card-content>
</mat-card>