<form [formGroup]="form" fxLayout="row" fxLayoutGap="20px" (submit)="search()">
  <mat-form-field fxFlex="50%" fxFlex.lt-md>
    <input type="text" matInput formControlName="search" [matAutocomplete]="types" placeholder="Search for products here" id="src">
  </mat-form-field>

  <mat-autocomplete #types="matAutocomplete">
    <mat-option *ngFor="let option of options" [value]="option.displayName || option.name">{{option.name}}</mat-option>
  </mat-autocomplete>

  <div fxFlex fxShow fxHide.lt-md="true">
    <mat-form-field fxFlex>
      <input type="text" matInput formControlName="location" [matAutocomplete]="loc" placeholder="Enter location here" id="loc" readonly>
    </mat-form-field>
  </div>

  <mat-autocomplete #loc="matAutocomplete" fxShow fxHide.lt-md="true">
    <mat-option *ngFor="let option of locations" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>

  <button mat-flat-button class="thin" fxShow fxHide.lt-md="true">Search</button>
  <button mat-fab color="primary" fxHide fxShow.lt-md="true"><mat-icon>search</mat-icon></button>
</form>

<!-- <form [formGroup]="form" fxLayout="row" fxHide fxShow.lt-md="true" fxLayoutGap="20px" (submit)="search()">
    <mat-form-field fxFlex>
      <input type="text" matInput formControlName="search" [matAutocomplete]="types2" placeholder="Search for products here" id="src2">
    </mat-form-field>
  
    <mat-autocomplete #types2="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option.displayName || option.name">{{option.name}}</mat-option>
    </mat-autocomplete>

    
  
    <div fxFlex fxHide>
      <mat-form-field fxFlex>
        <input type="text" matInput formControlName="location" [matAutocomplete]="loc" placeholder="Enter location here" id="loc" readonly>
      </mat-form-field>
    </div>
  
    <mat-autocomplete #loc="matAutocomplete">
      <mat-option *ngFor="let option of locations" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </form> -->
