<div fxLayout="row">
  <mat-toolbar>
    <h1>Product Search</h1>
    <span fxFlex="10%"></span>
    <app-search-bars [type]="'product'" fxFlex></app-search-bars>
  </mat-toolbar>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row">
    <a href=""></a>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="80%">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="50%" class="img-holder">
          <img [src]="product?.imageUrl || 'https://goo.gl/uVkkWs'" alt="">
        </div>
        <div fxFlex="50%" class="desc-holder">
          <h1>{{product?.name}}</h1>
          <h2 class="mat-title">{{price | currency}} <span fxFlex></span> <span class="mat-caption">{{getQuantity(product!)}} in stock</span></h2>
          <!-- <span class="mat-caption">{{count === 0 ? 'No' : count}} store{{count > 1 ? 's' : ''}}</span> -->
          <ol>
            <li *ngFor="let store of cont">
              {{store.address}} <span fxFlex></span> <button mat-flat-button (click)="selectedStore = store">Get directions</button>
            </li>
          </ol>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <app-google-map fxFlex [store]="selectedStore"></app-google-map>
      </div>
      <div fxLayout="column" fxLayoutAlign="center" class="description-holder">
        <h2>Product Description</h2>
        <p>{{product?.description}}</p>
      </div>
    </mat-card>
  </div>
</div>
<div fxLayout="row">
  <mat-toolbar>
    <!-- TODO: Add footer -->
    <h1>Footer</h1>
  </mat-toolbar>
</div>