<div fxLayout="row">
  <mat-toolbar>
    <a href="/" class="logo">Product Search</a>
    <span fxFlex="10%"></span>
    <app-search-bars [type]="'product'" fxFlex></app-search-bars>
  </mat-toolbar>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <ngx-json-ld [json]="productLd"></ngx-json-ld>
  <div fxFlex="80%" class="navig">
    <a [href]="'/store/' + selectedStore.name" *ngIf="selectedStore">&#9664; See more from {{selectedStore.name}}</a>
    <a [href]="'/'" *ngIf="!selectedStore">&#9664; Go back to home</a>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex fxLayout="row" fxLayoutAlign="center">
    <!-- <mat-card fxFlex="80%" *ngIf="!prodLoaded">
        <mat-spinner></mat-spinner>
      </mat-card> -->
    <h1 fxFlex="80%" *ngIf="showError">Item not found</h1>
    <mat-card fxFlex="80%" *ngIf="prodLoaded">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="50%" class="img-holder">
          <img [src]="product?.imageUrl || 'https://goo.gl/uVkkWs'" alt="">
        </div>
        <div fxFlex="50%" class="desc-holder">
          <h1>{{product?.name}}</h1>
          <h2 class="mat-title" *ngIf="isFinite(price)">{{price | currency}}
            <span fxFlex class="minprice">(min: {{minprice | currency}})</span>
            <span class="mat-caption">{{quantity}} in stock</span>
          </h2>
          <h2 class="mat-title" *ngIf="!isFinite(price)">
            <span class="mat-caption oos">Out of stock</span>
          </h2>
          <!-- <span class="mat-caption">{{count === 0 ? 'No' : count}} store{{count > 1 ? 's' : ''}}</span> -->
          <!-- <ol>
            <li *ngFor="let store of cont">
              <button mat-fab (click)="selectedStore = store">
                <mat-icon>send</mat-icon>
              </button>{{store.address}}
            </li>
          </ol> -->
          <mat-nav-list>
            <h3 mat-subheader>Stores</h3>
            <mat-list-item *ngFor="let store of cont" (click)="changeStore(store)">
              <mat-icon mat-list-icon>local_grocery_store</mat-icon>
              <p mat-line>{{store.address}}</p>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <app-google-map fxFlex [store]="selectedStore"></app-google-map>
      </div>
      <div fxLayout="column" fxLayoutAlign="center" class="description-holder">
        <h2>Product Description</h2>
        <p>{{product?.description}}</p>
        <p><strong>Color:</strong> {{product.color}}</p>
        <p><strong>Size:</strong> {{product.size}}</p>
      </div>
    </mat-card>
  </div>
</div>
<div fxLayout="row">
  <mat-toolbar>
    <!-- TODO: Add footer -->
    <h1>Footer</h1>
  </mat-toolbar>
</div>