<ngx-json-ld [json]="homeLd" ></ngx-json-ld>
<div fxLayout="row" fxLayoutAlign="center" class="section1">
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="center">
        <h1 class="mat-display-4" fxFlex="70%" fxShow fxHide.lt-md="true">Find great buys close to you in Singapore</h1>
        <h1 class="mat-display-3" fxFlex="70%" fxHide fxShow.lt-md="true">Find great buys close to you in Singapore</h1>
      </div>
    </div>
    <span fxFlex="100%"></span>
    <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="center">
        <app-search-bars type="home" fxFlex="80%"></app-search-bars>
      </div>
    </div>
    <span fxFlex></span>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex>
    <div fxLayout="row" fxLayoutAlign="center">
      <app-merchant-list></app-merchant-list>
    </div>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex class="max-pad">
    <div fxLayout="row" fxLayoutAlign="center">
      <app-category-list></app-category-list>
    </div>
  </mat-card>
</div>